<header>
  <div class="header-top">
    <img src="../../src/app/assets/LogoEvoke.png" alt="Logo" class="logo" />
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (keyup.enter)="onSearch()"
      placeholder="Buscar productos"
    />
    <button (click)="onSearch()">Buscar</button>
    <div class="header-links">
      <a routerLink="/home" class="header-link">Inicio</a>
      <a routerLink="/products" class="header-link">Productos</a>
      <!-- Enlace a productos -->
      <a routerLink="/cart" class="header-link">Carrito</a>
      <a *ngIf="isAdmin" routerLink="/upload-product">Subir Productos</a>
      <a routerLink="/auth" class="header-link">Log in - Sign in</a>
    </div>
  </div>
  <nav class="categories-nav">
    <a routerLink="/categories" class="category-link">Categorías</a>
    <a routerLink="/offers" class="category-link">Ofertas</a>
    <a routerLink="/coupons" class="category-link">Cupones</a>
    <a routerLink="/help" class="category-link">Ayuda</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2024 Angular Ecommerce. Todos los derechos reservados.</p>
</footer>
