<main>
  <div class="slider">
    <img src="slider1.webp" class="slide" alt="Promo 1" />
    <img src="slider2.jpg" class="slide" alt="Promo 2" />
    <img src="slider4.jpeg" class="slide" alt="Promo 3" />

    <div class="controls">
      <button class="prev" (click)="prevSlide()">&#10094;</button>
      <button class="next" (click)="nextSlide()">&#10095;</button>
    </div>
  </div>

  <div class="promo">
    <h2>¡Gran Venta de Zapatillas!</h2>
    <p>Hasta un 40% de descuento en modelos seleccionados.</p>
    <a href="#" class="btn">Compra Ahora</a>
  </div>
</main>
