<div class="product-highlight">
  <div class="highlight-card">
    <div class="highlight-image">
      <img src="banner-home.webp" alt="Nike SB Dunk High Decon" />
    </div>
    <div class="highlight-info">
      <h3>Lo Nuevo</h3>
      <h1 class="highlight-title">Nike SB Dunk</h1>
      <p class="highlight-description">
        El estilo fue rediseñado para adaptarse a las necesidades del
        skateboarding. Esta edición te ofrece colores retro para ese estilo de
        la vieja escuela.
      </p>
      <button routerLink="/products" class="highlight-button">Ver Mas</button>
    </div>
  </div>
</div>
<div class="general">
  <!-- Categorías -->
  <div class="categories-section">
    <h2 class="section-title">Categorías</h2>
    <div class="categories">
      <div class="category-card" routerLink="/category/ofertas">
        <img src="Promocion.jpeg" alt="Ofertas" />
        <p>Ofertas</p>
      </div>
      <div class="category-card" routerLink="/category/sneakers">
        <img src="Zapatillas.jpeg" alt="Sneakers" />
        <p>Sneakers</p>
      </div>
      <div class="category-card" routerLink="/category/sandalias">
        <img src="Sandalia.jpeg" alt="Sandalias" />
        <p>Sandalias</p>
      </div>
      <div class="category-card" routerLink="/category/crocs">
        <img src="Crocs.jpeg" alt="Crocs" />
        <p>Crocs</p>
      </div>
      <div class="category-card" routerLink="/category/pantuflas">
        <img src="Pantuflas.jpeg" alt="Pantuflas" />
        <p>Pantuflas</p>
      </div>
    </div>
  </div>

  <!-- Productos destacados -->
  <div class="products-section">
    <h2 class="section-title">Destacados</h2>
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products">
        <img
          [src]="product.imageUrl || 'assets/default-image.jpg'"
          [alt]="product.name"
          class="product-image"
        />
        <h3>{{ product.name }}</h3>
        <p class="price">{{ product.price | currency }}</p>
        <button [routerLink]="['/products', product.id]">Ver Más</button>
      </div>
    </div>
  </div>
</div>
