<header>
  <div class="header-top">
    <img src="LogoEvoke.png" alt="Logo" class="logo" />
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Buscar productos, marcas y más..."
        class="search-bar"
      />
      <button class="search-button" (click)="onSearch()">Buscar</button>
    </div>
    <div class="header-links">
      <a routerLink="/home" class="header-link">Inicio</a>
      <a routerLink="/products" class="header-link">Productos</a>
      <a *ngIf="isLoggedIn" routerLink="/cart" class="header-link">Carrito</a>
      <a *ngIf="isAdmin" routerLink="/upload-product">Subir Productos</a>

      <div class="account-container" (mouseleave)="closeAccountPanel()">
        <a
          *ngIf="isLoggedIn; else loginLink"
          (click)="toggleAccountPanel()"
          class="header-link"
          >Cuenta</a
        >
        <ng-template #loginLink>
          <a routerLink="/auth" class="header-link">Log in - Sign in</a>
        </ng-template>

        <div class="account-panel" *ngIf="isAccountPanelOpen">
          <app-user-profile></app-user-profile>
          <button (click)="logout()">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer-content">
    <div class="footer-left">
      <p>E-mail de contacto:</p>
      <p>evoke&#64;evokecorp.com</p>
      <p>Número de teléfono:</p>
      <p>+54 (261)3865948</p>
      <p>Encontranos en:</p>
      <p>Perito Moreno 2397 y Artigas, Godoy Cruz, Mendoza, Argentina</p>
    </div>
    <div class="footer-center">
      <h1 class="footer-title">EVOKE<span class="registered">&reg;</span></h1>
      <p class="copywrite">© 2024 Evoke. Todos los derechos reservados.</p>
    </div>
    <div class="footer-right">
      <p>Seguinos en nuestras redes</p>
      <div class="social-buttons">
        <a href="https://www.instagram.com/evoke.nf/">
          <img
            src="instagram-icon.png"
            alt="Instagram"
            class="social-icon"
          />
        </a>
        <a href="https://www.facebook.com/">
          <img
            src="facebook-icon.png"
            alt="Facebook"
            class="social-icon"
          />
        </a>
        <a href="https://www.tiktok.com/@zephyr.joyas?lang=es">
          <img
            src="tiktok-icon.png"
            alt="TikTok"
            class="social-icon"
          />
        </a>
        <a href="https://www.youtube.com/">
          <img
            src="youtube-icon.png"
            alt="YouTube"
            class="social-icon"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
