<div class="auth-container">
  <h1>{{ isLoginMode ? "Iniciar Sesión" : "Registrarse" }}</h1>

  <!-- Formulario de autenticación -->
  <form (ngSubmit)="onSubmit()">
    <!-- Campo de nombre solo para el modo de registro -->
    <div *ngIf="!isLoginMode">
      <label for="username">Nombre</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>

    <label for="email">Correo Electrónico</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required />

    <label for="password">Contraseña</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
    />

    <!-- Botones para enviar el formulario y cambiar de modo -->
    <button type="submit">
      {{ isLoginMode ? "Ingresar" : "Registrarse" }}
    </button>
    <button type="button" (click)="toggleMode()">
      Cambiar a {{ isLoginMode ? "Registrarse" : "Ingresar" }}
    </button>

    <!-- Mensaje de error -->
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
