/* Estilos globales */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333; /* Color principal de texto */
  background-color: #fff; /* Fondo claro */
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
